html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* overflow-x: hidden; */
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
nav {
    background-color: white;
    backdrop-filter: blur(10);
}
.title {
    font-size: 30px;
    font-family: "Bodoni Moda";
}
span {
    color: #AE6D13;
}
p {
    font-family: "Quicksand";
    color: #5E5E5E;
}
h2 {
    font-size: 35px;
}
nav {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
#navbar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 1440px;
    margin: auto;
    transition: all 0.3s;
}
.nav-links {
    width: 40%;
}
.nav-links ul {
    display: flex;
    justify-content: space-between;
}
#navbar .logo a{
    font-size: 30px;
    font-family: "Bodoni Moda";
    font-weight: 700;
    color: black;
}
#navbar .logo span {
    color: #AE6D13;
}
#navbar .nav-links a {
    font-size: 18px;
    color: black;
    font-family: "Quicksand";
    font-weight: 400;
}
#navbar .nav-links a:hover {
    color: #E8B166;
}
.hamberger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    display: none;
}
.hamberger .menu {
    width: 30px;
    height: 3px;
    background-color: #AE6D13;
    border-radius: 10px;
    margin: 5px;
}
.hamberger .menu:hover {
    background-color: #E8B166;
}
#jumbotron {
    scroll-margin-top: 120px;
    max-width: 1440px;
    margin: auto;
    padding: 120px 100px;
    padding-bottom: 20px;
}
.contenJumbotron {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.imgjumbotron img {
    width: 550px;
}
.descJumbotron .descTitle p {
    font-size: 20px;
    color: #5E5E5E;
    margin: 20px 0;
}
.descJumbotron .btn {
    margin-top: 50px;
}
#about .containerAbout {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1440px;
    margin: auto;
}
#about .imgAbout img {
    margin-left: -100px;
    width: 550px;
}
.descAbout {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    order: 1;
    width: 55%;
}
.descAbout .descTitle p{
    font-size: 20px;
    color: #5E5E5E;
    margin: 20px 0;
}
#about .descAbout .client {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.client h1 {
    font-family: "Quicksand";
    font-weight: 700;
}
.client p {
    margin-top: 5px;
}
.client .transaction {
    padding-right: 20px;
    border-right: 1px solid #8b8b8b;
}
.descAbout .btn {
    margin-top: 20px;
}
.descAbout .btn a{
    padding: 20px 70px;
    background-color: #AE6D13;
    color: white;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.descAbout .btn a:hover {
    background-color: #e8aa53;
}
#about .gallery {
    background-color: #FFF9F0;
}
.containerGallery {
    padding: 80px 100px;
    max-width: 1440px;
    margin: auto;
}
.gallery .title {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.title .textTitle {
    display: flex;
    align-items: start;
    gap: 10px;
}
.textTitle h1 {
    margin-top: -30px;
}
.seeAll {
    margin-top: -30px;
}
.seeAll a{
    color: #5E5E5E;
    text-decoration: underline;
    font-size: 18px;
    font-family: "Quicksand";
}
.contenGallery {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contenGallery img {
    border-radius: 10px;
}
.order1, .order2 {
    display: flex;
    gap: 20px;
}
.order1 img, .order2 img {
    height: 350px;
    object-fit: cover;
}
.order1 img:hover {
    filter: brightness(50%);
}
.order2 img:hover {
    filter: brightness(50%);
}
#product {
    max-width: 1440px;
    margin: auto;
    padding: 80px 100px;
}
#product .title {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.descTitleProduct {
    font-size: 20px;
    width: 40%;
    margin-top: 20px;
    margin-left: 97px;
}
.product {
    margin-top: 100px;
    margin-left: -100px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.product-right {
    margin-top: 100px;
    margin-right: -100px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.product .imgProduct img{
    width: 675px;
    border-radius: 0 20px 20px 0;
}
.product-right .imgProductRight img{
    width: 675px;
    border-radius: 20px 0 0 20px;
}
.product-right .descProduct {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product .descProduct {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.descProduct p {
    font-size: 20px;
}
.btn {
    margin-top: 30px;
}
.btn a{
    padding: 20px 70px;
    background-color: #AE6D13;
    color: white;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn a:hover {
    background-color: #e8aa53;
}
#howItWork {
    max-width: 1440px;
    margin: auto;
    padding: 80px 100px;
}
#howItWork .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenHowItWork {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
}
.card {
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.card:hover {
    opacity: 0.7;
}
.cardImg img {
    width: 150px;
}
.cardName h1 {
    font-family: "Quicksand";
    margin-top: 10px;
}
.cardDesc p {
    font-size: 20px;
    margin-top: 10px;
}
#contact {
    /* padding: 80px 100px; */
    background-color: #FFF9F0;
}
.containerContact {
    max-width: 1440px;
    margin: auto;
    padding: 80px 100px;
}
#contact .title {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.descTitleContact {
    width: 60%;
}
.moreContact {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mediaSocial {
    padding: 30px 50px;
}
.email img, .instagram img, .location img {
    width: 30px;
    margin: 15px;
}
.imgContact {
    background-color: #FFF9F0;
    border-radius: 10px;
    margin: 30px 0;
}
.email a, .instagram a, .location a{
    display: flex;
    gap: 20px;
    align-items: center;
}
.email h3, .instagram h3, .location h3 {
    font-family: "Quicksand";
    color: black;
    font-size: 15px;
}
label {
    font-family: "Quicksand";
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.formContact {
    padding: 30px 0;
    padding-right: 100px;
}
.nameContact h3, .emailContact h3, .messageContact h3 {
    font-family: "Quicksand";
    margin-bottom: 5px;
    font-size: 15px;
}
textarea, input {
    width: 400px;
    border-radius: 5px;
    border: 0;
    background-color: #FFF9F0;
}
textarea {
    height: 120px;
}
input {
    height: 30px;
}
.emailContact {
    margin: 10px 0;
}
hr {
    border: 0;
    height: 1px;
    background-color: #8b8b8b;
    transform: rotate(90deg);
    width: 300px;
    left: 450px;
}
.jarak {
    padding: 5px;
}
input, textarea {
    outline: none;
}
button {
    margin-top: 20px;
    border: 0;
    background-color: #AE6D13;
    padding: 10px 60px;
    color: white;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #e8aa53;
}
footer {
    background-color: #e8aa53;
}
.footer {
    max-width: 1440px;
    margin: auto;
    height: 150px;
}
.slider {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
  }
  
.slide {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }  
.slider img {
    width: 100%;
    object-fit: cover;
} 
.active{
    color: #e8aa53;
} 
#moreProduct {
    padding: 0 150px;
    padding-top: 200px;
    padding-bottom: 100px;
}
.imgMoreProduct img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.imgAbout img {
    height: 350px;
    object-fit: cover;
    border-radius: 0 30px 30px 0;
}

@media screen and (max-width: 1200px) {
    .imgjumbotron img {
        width: 450px;
    }
    .product .imgProduct img {
        width: 100%;
    }
    .product-right .imgProductRight img {
        width: 100%;
    }
    .contenHowItWork {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    .title {
        font-size: 25px;
    }
    .contenHowItWork {
        padding: 0 30px;
    }
}
@media screen and (max-width: 980px) {
    .nav-links {
        width: 50%;
    }
    textarea, input {
        width: 300px;
    }
    .contenGallery {
        overflow: hidden;
    }
    .imgMoreProduct img {
        object-fit: contain;
      }
      #about .imgAbout img {
        width: 450px;
      }
      .title {
        font-size: 20px;
      }
      .contenHowItWork {
        padding: 0;
      }
      .imgjumbotron img {
        width: 350px;
      }
}
@media screen and (max-width: 860px) {
    #about .imgAbout img {
        width: 400px;
    }
    .imgjumbotron img {
        width: 300px;
    }
    .moreContact {
        flex-direction: column;
        justify-content: center;
    }
    hr {
        display: none;
    }
    .formContact {
        padding-right: 0;
    }
}
@media screen and (max-width: 830px) {
    #navbar {
        height: 50px;
        width: 100%;
        padding: 0 50px;
    }
    .nav-links {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        background-color: white;
        margin-left: -30px;
        padding: 30px 0;
        transition: all 0.8s;
    }
    .nav-links ul {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    #navbar .hamberger {
        display: block;
    }
    #jumbotron {
        padding: 120px 50px;
        padding-bottom: 60px;
    }
    #about .imgAbout img {
        width: 350px;
    }
}
/* Tablet Resnponsive */
@media screen and (max-width: 768px) {
    #navbar {
        height: 50px;
        width: 100%;
        padding: 0 30px;
    }
    .nav-links {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        background-color: white;
        margin-left: -30px;
        padding: 30px 0;
        transition: all 0.8s;
    }
    .nav-links ul {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    #navbar .hamberger {
        display: block;
    }
    .imgjumbotron img {
        width: 300px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    .btn a {
        padding: 13px 50px;
    }
    .descAbout .btn a {
        padding: 13px 50px;
    }
    #about .imgAbout img {
        width: 380px;
        margin-left: -60px;
    }
    .client h1 {
        font-size: 20px;
    }
    .order1, .order2 {
        flex-direction: column;
    }
    .order1 img, .order2 img {
        width: 100%;
    }
    h2 {
        font-size: 24px;
    }
    .product .imgProduct img {
        width: 100%;
    }
    .product-right .imgProductRight img {
        width: 100%;
    }
    .cardImg img {
        width: 100px;
    }
    .cardName h1 {
        font-size: 24px;
    }
    .cardDesc p {
        font-size: 18px;
    }
    .moreContact {
        flex-direction: column;
        justify-content: center;
    }
    hr {
        display: none;
    }
    .formContact {
        padding-right: 0;
    }
    .contenHowItWork {
        padding: 0;
    }
    .imgContactTitle img {
        width: 100px;
    }
    #jumbotron {
        padding: 120px 60px;
    }
    #about .containerAbout {
        padding: 30px 60px;
        padding-bottom: 80px;
    }
    #navbar .logo a {
        font-size: 20px;
    }
    .containerGallery {
        padding: 80px 60px
    }
    #product {
        padding: 80px 60px
    }
    #howItWork {
        padding: 80px 60px
    }
    .containerContact {
        padding: 80px 60px
    }
    .mediaSocial {
        padding: 30px 0;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
    #navbar {
        height: 50px;
        width: 100%;
        padding: 0 30px;
    }
    .nav-links {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        background-color: white;
        margin-left: -30px;
        padding: 30px 0;
        transition: all 0.8s;
    }
    .nav-links ul {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    #navbar .hamberger {
        display: block;
    }
    #navbar .logo a {
        font-size: 20px;
    }
    .nav-links.active {
        right: 0;
    }
    #jumbotron {
        padding: 80px 30px;
        padding-bottom: 50px;
    }
    .contenJumbotron{
        flex-direction: column;
        gap: 30px;
    }
    .descJumbotron .descTitle p {
        font-size: 18px;
    }
    .descJumbotron {
        order: 2;
    }
    .imgjumbotron img {
        order: 1;
        width: 100%;
    }
    .descAbout {
        margin-top: 10px;
    }
    #about .containerAbout {
        padding: 30px 30px;
        flex-direction: column;
        gap: 30px;
    }
    .textTitle h1 {
        font-size: 30px;
    }
    .title img {
        width: 50px;
    }
    .containerGallery {
        margin-top: 50px;
        padding: 40px 30px;
    }
    .order1, .order2 {
        flex-direction: column;
    }
    .order1 img, .order2 img {
        width: 100%;
        height: 250px;
    }
    #product {
        margin: 50px 0;
        padding: 0;
        padding: 40px 30px;
    }
    .product .imgProduct img {
        width: 90%;
        object-fit: cover;
    }
    .product-right .imgProductRight img {
        width: 80%;
    }
    #product .product-right .title {
        justify-content: flex-end;
    }
    .descTitleProduct {
        width: 80%;
        margin-left: 60px;
    }
    .product {
        margin-top: 20px;
        flex-direction: column;
        margin-left: 0;
        gap: 20px;
    }
    .product img {
        width: 90%;
        margin-left: -31px;
    }
    .product .descProduct {
        gap: 10px;
    }
    .product-right {
        margin: 50px 0;
        flex-direction: column;
        text-align: end;
        gap: 10px;
    }
    #product .product-right .imgProductRight{
        margin-right: -30px;
    }
    .imgProductRight img {
        width: 90%;
    }
    .product-right .descProduct {
        order: 2;
        gap: 10px;
    }
    #howItWork {
        padding: 50px 30px;
    }
    .contenHowItWork {
        flex-direction: column;
    }
    .containerContact {
        padding: 40px 30px;
    }
    #contact .title {
        align-items: center;
    }
    .imgContactTitle img {
        width: 80px;
    }
    .moreContact {
        flex-direction: column;
    }
    hr {
        display: none;
    }
    .formContact {
        padding: 30px 30px;
    }
    .descAbout .btn a {
        padding: 10px 50px;
    }
    .btn a {
        padding: 10px 50px;
    }   
    .mediaSocial {
        padding: 30px 20px;
    }
    .cardImg img {
        width: 100px;
    }
    .card {
        padding: 0;
    }
    .email a, .instagram a, .location a {
        align-items: start;
        flex-direction: column;
        gap: 0;
    }
    .email, .instagram, .location {
        display: flex;
    }
    .imgContact {
        margin: 20px 0;
    }
    .descImgContact {
        margin-top: -15px;
    }
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 24px;
    }
    .textTitle h1 {
        font-size: 24px;
    }
    .cardDesc p {
        font-size: 18px;
    }
    .cardName h1 {
        font-size: 20px;
    }
    .descProduct p {
        font-size: 18px;
    }
    .descAbout .descTitle p {
        font-size: 18px;
    }
    .client h1 {
        font-size: 20px;
    }
    .client p {
        font-size: 18px;
    }
    .descAbout .btn a {
        font-size: 15px;
    }
    .btn a {
        font-size: 15px;
    }
    button {
        font-size: 15px;
    }
    #moreProduct {
        padding: 100px 30px;
    }
    .imgMoreProduct img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
      #about .imgAbout img {
        margin-left: -180px;
      }
    
}
@media screen and (max-width: 460px) {
    textarea, input {
        width: 100%;
    }
    button {
        padding: 10px 90px;
    }
    .contenHowItWork {
        padding: 0;
    }
    .mediaSocial {
        padding: 30px 30px;
    }
    .imgMoreProduct img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}